
<body>
    <header>
        <h1>Sales Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a routerLink="/"> Home page</a></li>
            <li><a routerLink="inventory">Inventory Management</a></li>
            <li><a routerLink="salestransaction">Sales Transactions</a></li>
            <li><a routerLink="sales">Sales Reports</a></li>
            <li><a routerLink="manage-customer">Customer Management</a></li>
            <li><a routerLink="login">login form</a></li>
        </ul>
    </nav>
</body>
<router-outlet></router-outlet>
    
